html {
    scroll-behavior: smooth;
}


body{
    margin: 0;
}
.nav{
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding-left: 20px;
    padding-right: 30px;
    top: 0;
    z-index: 10;
    height: 90px;
    
}

.nav h1{
    color: white;
    font-size: 40px;
}

.links{
    display: flex;
    align-items: center;
}

.links a,button{
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background: none;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.links a:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
}

.first{
    position: relative;
    text-align: center;
    background-image: url(luca-bravo-O453M2Liufs-unsplash.jpg);
    height: 200px;
    background-size: cover;
    padding: 200px;
}





.first h1{
    margin-top: 0;
    font-size: 90px;
    color: white;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.first p{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 700px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

.home-desti{
    text-decoration: none;
    color: black;
    background-color: rgb(215, 218, 0);
    border: none;
    border-radius: 20px;
    font-size: 20px;
    padding: 7px 10px;
    /* margin-top: 60px; */
    /* margin-right: 300px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.home-cntct{
    text-decoration: none;
    background-color: rgba(214, 218, 0, 0);
    border: 2px solid white;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    padding: 7px 20px;
    /* margin-top: 30px; */
    /* margin-right: 350px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#popular-destinations {
    scroll-margin-top: 90px;
}

.home-desti:hover{
    background-color: rgb(251, 255, 6);
}

.home-cntct:hover{
    background-color: rgb(248, 248, 248);
    color: black;
}

.first p{
    font-size: 20px;
    margin-top: 0;
}

.discount{
    position: absolute;
    top: 25px;
    right: 30px;
    background-color: red;
    padding: 15px;
    border-radius: 20px;
    color: white;
}

.dst-head{
    background-color: black;
    color:white;
    text-align: center;
    padding:3px;
    font-size: 15px;
}

.places{
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}



.places h2{
    position: absolute;
    background-color: yellow;
    padding: 5px;
    border-radius: 5px;
    margin-left: 7px;
    margin-top: 7px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.places img{
    width: 300px;
    height: 200px;
    border-radius: 2%;
}

.places div{
    margin: auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.395);
    width: 300px;
    border-radius: 10px;
    height: 380px;
    transition: 0.3s;
}

.places div:hover{
    transform: scale(1.05);
}

.place1 a{
    text-decoration: none;
    margin-left: 10px;
    margin-bottom: 1px;
}

.places h1,p{
    padding-left: 10px;
}

.places p{
    color: black;
}

.whatsapp{
    position: fixed;
    top: 85%;   
    width: 50px;
    height: 50px;
    left: 95%;
    border-radius: 100%;
    
}

.call{
    position: fixed;
    top: 75%;   
    width: 50px;
    height: 50px;
    left: 95%;
    
}

.end{
    background-color: black;
    padding: 50px;
    margin-top: 60px;
    text-align: center;
}

.last h1,p,h3{
    color: white;
}

.last h1{
    margin-bottom: 0;
}

.last p{
    margin-top: 0;
}


.pkg-first{
    background-image: url(1431622.jpg);
    background-size: cover;
    padding: 80px;
    text-align: center;
}

.pkg-first h1{
    font-size: 70px;
    margin-bottom: 0;
    color: white;
}

.pkg-first p{
    font-size: 30px;
    margin-top: 0;
    color: white;
}


.pgk-scnd-places img{
    width: 400px;
    height: 250px;
    border-radius: 10px 10px 0px 0px;

}

.pkg-scnd-head h1{
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.pkg-scnd-head h4{
    text-align: center;
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 0;
    color: rgb(255, 0, 0);
}

.pkg-scnd-head p{
    margin: auto;
    text-align: center;
    font-size: 20px;
    width: 900px;
    color: rgba(0, 0, 0, 0.587);
    margin-top:15px;
    margin-bottom: 100px;
}


.pgk-scnd-places{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    gap: 20px;
}


.place-card{
    position: relative;
    /* border: 1px solid black; */
    border-radius: 10px;
    width: 400px;
    gap: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.342);
    transition: 0.3s;
}

.place-card div{
    padding-left: 30px;
}

.place-card:hover{
    transform: scale(1.03);
}

.off{
    position: absolute;
    color: white;
    background-color: red;
    top:0px;
    border-radius: 7px;
    padding: 5px;
    margin-right: 100px;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.fa-solid fa-location-dot{
    color: blue;
    background-color: blue;
}


.per-person{
    color: black;
    display: inline;
}

.price{
    display: inline;
    font-size: 40px;
    color:rgb(0, 96, 169) ;
}

.features{
    color:black;
    font-size: 20px;
}

.place-card a {
    width: 350px;
    margin-left: 23px;
    padding: 15px 80px;
    font-size: 20px;
    padding-left: 125px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 96, 169);
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    box-sizing: border-box;
}

.place-name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.place-card button:hover{
    background-color: rgb(0, 63, 114);
}

.pkg-third{
    text-align: center;
    padding-bottom:45px;
    padding-top: 20px;
    background-color: rgb(244, 244, 244);
}
.why-choose{
    display: flex;
    margin-top: 70px;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: space-between;

}

.fa-star,.fa-headset,.fa-wallet,.fa-shield-heart{
    font-size: 60px;
}

.pkg-third h1{
    font-size: 50px;
}

.why-choose p{
    color:rgba(0, 0, 0, 0.703);
}

.choose-points{
    width:200px;
}

.choose-points h2{
    font-size: 21px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 0;
}

.choose-points p{
    margin-top: 5px;
}

.cant-decide{
    margin-top: 80px;
    text-align: center;
    background-color: rgb(0, 63, 114);
    padding:90px 80px;
    border-radius: 20px;
}


.pkg-4th{
    margin:100px
}


.cant-decide h1{
    font-size: 50px;
    color: white;
    margin-bottom:0;
    margin-top: -10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cant-decide p{
    margin-top:15px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cant-decide a{
    background-color: rgb(246, 250, 3);
    color:rgb(0, 0, 0);
    padding:10px 20px;
    /* border:none; */
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.cant-decide button:hover{
    background-color: rgb(197, 200, 0);
}


.first-gallery{
    background-image: url(gallery.jpg);
    background-size: cover;
    padding: 130px;
    text-align: center;
}

.first-gallery h1{
    font-size: 70px;
    margin-bottom: 0;
    color: white;
}

.first-gallery p{
    font-size: 30px;
    margin-top: 0;
    color: white;
}

.moments-head{
    text-align: center;
    margin-top: 100px;
}

.moments-head h1{
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}

.moments-head p{
    color: rgba(0, 0, 0, 0.463);
    font-size: 20px;
    width: 800px;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.gallery-tabs{
    display: flex;
    justify-content: center;
    gap: 60px;
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 50px;
}


.gallery-tabs div{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 63, 114);
    border: 3px solid rgb(0, 63, 114);
    padding: 6px 20px;
    border-radius: 50px;
}



.gallery-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-left:10px;
    margin-right: 10px;


}

.gallery-images img{
    width: 350px;
    height: 300px;
    border-radius: 10px;
    
}

.gallery-images div{
    width: 350px;
    height: 250px;
    border: none;
    border-radius: 20px;
    position: relative;
    margin-bottom:40px ;
    transition: 0.3s;
    
}

.gallery-images div:hover{
    transform: scale(1.05);
}

.gallery-images h1{
    position: absolute;
    z-index: 3;
    color: white;
    left: 10px;
    top: 200px;

}

.gallery-images p{
    position: absolute;
    color: white;
    z-index: 2;
    top: 97%;
}


.gallery-end{
    margin-top: 200px;
    background-color: black;
    display: flex;
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 100px;
    justify-content: space-between;
    padding-right:170px;
}

.gallery-end-name{
    display: block;
}

.gallery-end-name h1{
    color: white;
    margin-bottom: 0;
}

.gallery-end-name p{
    width: 500px;
}

.quick-links a{
    display: block;
    text-decoration: none;
    color: white;
    padding-left:20px ;
    margin-bottom: 10px;
    transition: 0.3s;
}

.quick-links a:hover{
    color: yellow;
    transform: scale(1.03);
}

.quick-links h1{
    color: yellow;
}


.gallery-end-destination a{
    display: block;
    text-decoration: none;
    color: white;
    padding-left:20px ;
    margin-bottom: 10px;
    transition: 0.3s;
}

.gallery-end-destination a:hover{
    color: yellow;
    transform: scale(1.03);
}

.gallery-end-destination h1{
    color: yellow;
}

.awaits{
    margin-top: 80px;
    text-align: center;
    background-image: url(awaits.jpg);
    padding:90px 80px;
    border-radius: 20px;
}


.gallery-awaits{
    margin:100px
}


.awaits h1{
    font-size: 50px;
    color: white;
    margin-bottom:0;
    margin-top: -10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.awaits p{
    margin-top:15px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.awaits a{
    background-color: rgb(246, 250, 3);
    color:rgb(0, 0, 0);
    padding:10px 20px;
    border:none;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.cant-decide button:hover{
    background-color: rgb(197, 200, 0);
}

.fa-facebook:hover{
   color: rgb(255, 255, 255);
}



.first-contact{
    background-image: url(contact.jpg);
    background-size: cover;
    padding: 50px;
    text-align: center;
}

.first-contact h1{
    font-size: 70px;
    margin-bottom: 0;
    color: white;
}

.first-contact p{
    font-size: 30px;
    margin-top: 0;
    color: white;
}

.second-contact{
    display: flex;
    margin: 50px 150px 5px 150px;
}

.get-in-touch h1{
    font-size: 50px;
    color: rgb(0, 63, 114);
    margin-bottom: 0;
}

.get-in-touch p{
    color: rgba(0, 0, 0, 0.493);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0;
    font-size: 18px;
    position: relative;
}

.get-in-touch h2{
    font-size: 20px;
    position:absolute;
    margin-top: -35px;
    left: 205px;
    margin-bottom: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.get-in-touch h5{
    margin-top: 0;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.735);
    margin-left: 55px;
}

.get-in-touch .fa-location-dot,.fa-phone,.fa-envelope,.fa-clock{
    font-size: 25px;
    background-color: rgba(0, 255, 255, 0.242);
    border-radius: 100%;
    padding: 8px 6px 8px 6px;
    margin-top: 10px;
}

.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 22px;
}

.contact-form{
    width:80%;
    padding: 10px 50px 10px 50px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.237);
    margin-left: 10px;
    
    
}

.form input,select{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.contact-form h1{
    color: rgb(0, 63, 114);
}

.form textarea{
    width: 100%;
    height: 100%;
}

.contact-form button{
    grid-column: 1 / -1;
    width: 100%;
    margin-top: 50px;
    padding: 15px 0px 15px 0px;
    background-color: rgb(0, 63, 114);
    color: white;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.3s;
}

.contact-form button:hover{
    transform: scale(1.05);
}

.full-width{
    grid-column: 1/-1;
}

.form label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.help{
    margin-top: 80px;
    text-align: center;
    background-color: rgb(0, 63, 114);
    padding:90px 80px;
    border-radius: 20px;
}


.contact-help{
    margin:100px
}


.help h1{
    font-size: 50px;
    color: white;
    margin-bottom:0;
    margin-top: -10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.help p{
    margin-top:15px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.help a{
    background-color: rgb(246, 250, 3);
    color:rgb(0, 0, 0);
    padding:10px 20px;
    border:none;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.destinations{
    position: relative;
}

.drop{
    position: absolute;
    display: none;
    top: 10%;
    z-index: 1000;
    margin-top: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.destinations:focus-within .drop{
    display: block;
    border-radius: 5px;
    color: black;
    
}

.drop a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.drop a{
    display: block;
    padding: 10px;
    color: black;

}

.destinations button{
    background-color: none;
}

.destinations button:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
}



.first-maldives{
    background-image: url(Makdives.jpg);
    background-size: cover;
    padding: 130px;
    text-align: center;
}

.first-maldives h1{
    font-size: 70px;
    margin-bottom: 0;
    color: white;
    margin-top: 0;
}

.first-maldives p{
    font-size: 30px;
    margin-top: 0;
    color: white;
}


.first-maldives h3{
    background-color: rgba(0, 0, 0, 0.297);
    border-radius: 10px;
    width: 150px;
    color: white;
    padding: 3px;
    margin: auto;
    margin-bottom: 0;
}

.second-maldives h1{
    color: rgb(0, 63, 114);
    text-align: center;
    margin-top: 100px;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}

.second-maldives p{
    color: rgba(0, 0, 0, 0.566);
    width: 900px;
    text-align: center;
    margin: auto;
    font-size: 21px;
    margin-top: 0;
}

.maldives-cards{
    display: flex;
    justify-content: center;
    margin-top: 39px;
    gap: 40px;
}

.maldives-cards div{
    width: 300px;
    padding: 40px 5px 10px 5px;
    text-align: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.283);
    border-radius: 10px;
    transition: 0.3s;
}

.maldives-cards div:hover{
    transform: scale(1.06);
}

.maldives-cards .fa-hotel,.fa-person-walking,.fa-tree{
    font-size: 40px;
}

.maldives-cards h2{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}

.maldives-cards h5{
    font-size: 20px;
    margin-top: 0;
    color: rgba(0, 0, 0, 0.689);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.third-maldives{
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
}
.third-maldives h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.things-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.things-cards div{
    width: 300px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.276);
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
    margin-bottom: 0px;
}

.things-cards .fa-heart,.fa-earth-oceania,.fa-person-swimming,.fa-mask-face{
    font-size: 50px;
}

.things-cards h2{
    margin-top:5px ;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}

.things-cards p{
    color: rgba(0, 0, 0, 0.598);
    margin-top: 0;
    margin-left: -8px;
}


.ready{
    margin-top: 80px;
    text-align: center;
    background-color: rgb(0, 63, 114);
    padding:90px 80px;
    border-radius: 20px;
}


.maldives-ready{
    margin:100px
}


.ready h1{
    font-size: 50px;
    color: white;
    margin-bottom:0;
    margin-top: -10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ready p{
    margin-top:15px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ready a{
    background-color: rgb(246, 250, 3);
    color:rgb(0, 0, 0);
    padding:10px 20px;
    border:none;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.first-swiss{
    background-image: url(swiss.jpg);
    background-size: cover;
    padding: 130px;
    text-align: center;
}

.first-swiss h1{
    font-size: 70px;
    margin-bottom: 0;
    color: white;
    margin-top: 0;
}

.first-swiss p{
    font-size: 30px;
    margin-top: 0;
    color: white;
}


.first-swiss h3{
    background-color: rgba(0, 0, 0, 0.297);
    border-radius: 10px;
    width: 200px;
    color: white;
    padding: 3px;
    margin: auto;
    margin-bottom: 0;
}



.second-swiss h1{
    color: rgb(0, 63, 114);
    text-align: center;
    margin-top: 100px;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}

.second-swiss p{
    color: rgba(0, 0, 0, 0.566);
    width: 900px;
    text-align: center;
    margin: auto;
    font-size: 23px;
    margin-top: 0;
}

.swiss-cards{
    display: flex;
    justify-content: center;
    margin-top: 39px;
    gap: 40px;
}

.swiss-cards div{
    width: 300px;
    padding: 40px 5px 10px 5px;
    text-align: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.283);
    border-radius: 10px;
    transition: 0.3s;
}

.swiss-cards div:hover{
    transform: scale(1.05);
}

.swiss-cards .fa-mountain,.fa-train-subway,.fa-person-hiking{
    font-size: 40px;
}

.swiss-cards h2{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}

.swiss-cards h5{
    font-size: 18px;
    margin-top: 0;
    color: rgba(0, 0, 0, 0.689);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-swiss{
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 51, 7);
    padding-left: 20px;
    padding-right: 30px;
    top: 0;
    z-index: 10;
    
}

.nav-swiss h1{
    color: white;
    font-size: 40px;
}

.links-swiss{
    display: flex;
    align-items: center;
}

.links-swiss a,button{
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background: none;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.links-swiss a:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
}


.swiss-places-sction{
    padding-top: 100px;
}


.places-swiss{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.places-swiss img{
    width: 300px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}

.places-swiss div{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.279);
    width: 300px;
    border-radius: 10px;
    transition: 0.3s;
}

.places-swiss div:hover{
    transform: scale(1.05);
}

.places-swiss h2{
    font-size: 20pxpx;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10px;
    margin-bottom: 5px;
}

.places-swiss p{
    color:rgba(0, 0, 0, 0.521);
    margin-top: 0;
}

.swiss-places-sction h1{
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.s-ready{
    margin-top: 80px;
    text-align: center;
    background-color: rgb(0, 51, 7);
    padding:90px 80px;
    border-radius: 20px;
}


.swiss-ready{
    margin:100px
}


.s-ready h1{
    font-size: 50px;
    color: white;
    margin-bottom:0;
    margin-top: -10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.s-ready p{
    margin-top:15px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.s-ready a{
    background-color: rgb(246, 250, 3);
    color:rgb(0, 0, 0);
    padding:10px 20px;
    border:none;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




/* Dubai */

.first-dubai{
    background-image: url(dubai.jpg);
    background-size: cover;
    padding: 130px;
    text-align: center;
}


.first-dubai h1{
    font-size: 70px;
    margin-bottom: 0;
    color: white;
    margin-top: 0;
}

.first-dubai p{
    font-size: 30px;
    margin-top: 0;
    color: white;
}


.first-dubai h3{
    background-color: rgba(249, 245, 0, 0.922);
    border-radius: 10px;
    width: 300px;
    color: rgb(0, 0, 0);
    padding: 3px;
    margin: auto;
    margin-bottom: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.second-dubai h1{
    color: rgb(120, 100, 0);
    text-align: center;
    margin-top: 100px;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}

.second-dubai p{
    color: rgba(0, 0, 0, 0.566);
    width: 900px;
    text-align: center;
    margin: auto;
    font-size: 23px;
    margin-top: 0;
}

.dubai-cards{
    display: flex;
    justify-content: center;
    margin-top: 39px;
    gap: 40px;
}

.dubai-cards div{
    width: 300px;
    padding: 40px 5px 10px 5px;
    text-align: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.283);
    border-radius: 10px;
    transition: 0.3s;
}

.dubai-cards div:hover{
    transform: scale(1.05);
}

.dubai-cards .fa-building,.fa-sun,.fa-car{
    font-size: 40px;
}

.dubai-cards h2{
    font-size:25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}

.dubai-cards h5{
    font-size: 17px;
    margin-top: 0;
    color: rgba(0, 0, 0, 0.689);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-dubai{
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 20, 51);
    padding-left: 20px;
    padding-right: 30px;
    top: 0;
    z-index: 10;
    
}

.nav-dubai h1{
    color: white;
    font-size: 40px;
}

.links-dubai{
    display: flex;
    align-items: center;
}

.links-dubai a,button{
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background: none;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.links-dubai a:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
}


.dubai-places-sction{
    padding-top: 100px;
}


.places-dubai{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.places-dubai img{
    width: 300px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}

.places-dubai div{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.279);
    width: 300px;
    border-radius: 10px;
    transition: 0.3s;
}

.places-dubai div:hover{
    transform: scale(1.05);
}

.places-dubai h2{
    font-size: 20pxpx;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10px;
    margin-bottom: 5px;
}

.places-dubai p{
    color:rgba(0, 0, 0, 0.521);
    margin-top: 0;
}

.dubai-places-sction h1{
    font-size: 45px;
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.d-ready{
    margin-top: 80px;
    text-align: center;
    background: linear-gradient(
     rgb(120, 100, 0,0.6),
     rgb(120, 100, 0,0.6)),
    url(dubai-sheikh-zayed-3840x2160-21154.jpg);
    background-size: cover;
    background-position: center;
    padding:90px 80px;
    border-radius: 20px;
}


.dubai-ready{
    margin:100px
}


.d-ready h1{
    font-size: 50px;
    color: white;
    margin-bottom:0;
    margin-top: -10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.d-ready p{
    margin-top:15px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.d-ready a{
    background-color: rgb(246, 250, 3);
    color:rgb(0, 0, 0);
    padding:10px 20px;
    border:none;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}